<section id="signup">
  <div class="container">
    <div class="col-sm-12"> 
      <table>
        <tr class="col-sm-offset-4">
          <h1>Error! Error!</h1>
          <img src="http://treasure.diylol.com/uploads/post/image/198854/resized_advice-dog-meme-generator-helloooo-something-went-wrong-5b43c6.jpg"/>
        </tr>
      </table>
    </div>
  </div>
</section>