<section id="signup">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-center-block"> 
        <h1>422 Impossible!</h1>
        <img src="http://s2.quickmeme.com/img/45/455eb16e93d685b1a529b1eee949d8a90c09fede2004c48ef479f6b725c3acd7.jpg"/>
      </div>
    </div>
  </div>
</section>